<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>中奖详情</title>
  <link rel="stylesheet" href="<%= __public_path__ %>app.css">
</head>
<body class="detail-body">
  <div class="detail">
    <div class="logo"></div>
    <div class="title-top">恭喜以下获奖人员</div>
    <div class="detail-bg">
      <div class="detail-bg-opa"></div>
      <div class="dowebok">
        <ul>
          <% for (var i = 0; i < data.length; i++) { %>
            <% if (data[i].data.length > 0) { %>
              <li>
                <div class="title"><%= data[i].name %></div>
              </li>
              <li>
                <% for (var j = 0; j < data[i].data.length; j++) { %>
                  <div class="content">
                    <%= data[i].data[j][1] %>(<%= data[i].data[j][2] %>)
                  </div>
                <% } %>
              </li>
              <li><div style="clear: both;"></div> </li>
            <% } %>
          <% } %>
        </ul>
      </div>
    </div>
     <div class="btn-bottom" id="table-export">导出获奖名单</div>
  </div>
  <script src="<%= __public_path__ %>app.js"></script>
</body>
</html>