<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>首页</title>
  <link rel="stylesheet" href="<%= __public_path__ %>app.css">
</head>
<body>
  <div class="home">
    <div class="logo"></div>
    <div class="btn btn-cursor">后台操作</div>
    <div class="main_bg">
      <div class="result">
        <div class="result-parent">
          <div class="result-children">
            <span href="javascript:;" id="add-one">开始抽奖1等奖</span>
          </div>
          <div class="result-children">
            <span href="javascript:;" id="add-two">开始抽奖2等奖</span>
          </div>
          <div class="result-children">
            <span href="javascript:;" id="add-three">开始抽奖3等奖</span>
          </div>
          <div class="result-children">
            <span href="javascript:;" id="add-four">开始抽奖4等奖</span>
          </div>
          <div class="result-children">
            <span href="javascript:;" id="add-five">开始抽奖5等奖</span>
          </div>
          <div class="result-children">
            <span href="javascript:;" id="add-six">开始抽奖6等奖</span>
          </div>
          <div class="result-children">
            <span href="javascript:;" id="add-special">开始抽奖特等奖</span>
          </div>
          <div class="result-children">
            <span id="load" href="javascript:;">导入员工数据</span>
          </div>
          <div class="result-children">
            <span id="list" href="javascript:;">查看中奖名单</span>
          </div>
          <div class="result-children">
            <span id="add" href="javascript:;">添加中奖名单测试</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="<%= __public_path__ %>app.js"></script>
</body>
</html>