<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>首页</title>
  <link rel="stylesheet" href="<%= __public_path__ %>app.css">
</head>
<body>
  <div class="home">
    <div class="logo"></div>
    <div class="btn btn-cursor">后台操作</div>
    <div class="main_bg">
      <div class="result" style="display: block;">
        <div class="btns" id="btns">
          <% for(var i = 0;i < list.length;i++){ %>
            <button class="btn-children" style="" id="add_<%= i %>"
              <%= list[i].style %>>
              <%= list[i].name %>
            </button>
          <% } %>
        </div>
        <div class="btns">
          <button id="list" class="btn-children-2">查看中奖列表</button>
          <button id="load" class="btn-children-2">导入数据</button>
          <button id="add" class="btn-children-2">增加一条数据测试</button>
          <button id="delete" class="btn-children-2">删除一条数据测试</button>

        </div>
      </div>
    </div>
  </div>
  <script src="<%= __public_path__ %>app.js"></script>
</body>
</html>