<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= name %></title>
  <link rel="stylesheet" href="<%= __public_path__ %>app.css">
</head>
<body>
  <div><%= name %></div>
  <span id="app"></span>
  <!-- <p> Welcome to <%= data[1][1]%></p>
  <ul>
    <% if(data[1][1]) { %>
      <% for(var i=1;i<data.length;i++){ %>
      <li>工号：<%= data[i][0] %>/姓名：<%= data[i][1] %>/部门：<%= data[i][2] %></li>
    <% } } %>
  </ul> -->
  <script src="<%= __public_path__ %>app.js"></script>
</body>
</html>