<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>抽奖页面</title>
  <link rel="stylesheet" href="<%= __public_path__ %>app.css">
</head>
<body>
  <div class="logo"></div>
  <div>剩余次数:<span id="total-times"><%= totalTimes %></span>/每次:<span id="total-num"><%= totalNum %></span>/name:<%= name %>/type:<span id="total-type"><%= type %></span></div>
  <input type="button" class="btn" value="开始">
  <div class="main_bg">
    <div class="result">
      <div class="result-parent">
        开始抽奖
      </div>
    </div>
    <div class="num_bg_box">
      <div class="num_bg"></div>
      <div class="num_bg"></div>
      <div class="num_bg"></div>
      <div class="num_bg"></div>
      <div class="num_bg"></div>
      <div class="num_bg"></div>
      <div class="num_bg"></div>
    </div>
    <div class="num_box">
      <div class="num"></div>
      <div class="num"></div>
      <div class="num"></div>
      <div class="num"></div>
      <div class="num"></div>
      <div class="num"></div>
      <div class="num"></div>
    </div>
  </div>
  <script src="<%= __public_path__ %>app.js"></script>
</body>
</html>