<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>抽奖页面</title>
  <link rel="stylesheet" href="<%= __public_path__ %>app.css">
</head>
<body>
  <div class="btn">开始</div>
  <div class="main_bg">
    <div class="result">
      <div class="result-parent">
      </div>
    </div>
    <div class="num_bg_box">
      <div class="num_bg"></div>
      <div class="num_bg"></div>
      <div class="num_bg"></div>
      <div class="num_bg"></div>
      <div class="num_bg"></div>
      <div class="num_bg"></div>
      <div class="num_bg"></div>
    </div>
    <div class="num_box">
      <div class="num"></div>
      <div class="num"></div>
      <div class="num"></div>
      <div class="num"></div>
      <div class="num"></div>
      <div class="num"></div>
      <div class="num"></div>
    </div>
  </div>
  <script src="<%= __public_path__ %>lottery.js"></script>
</body>
</html>