<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>抽奖开始</title>
  <link rel="stylesheet" href="<%= __public_path__ %>app.css">
</head>
<body class="start-body">
  <div class="start">
    <div class="logo"></div>
    <div class="start-bg">
      <div class="start-topic">
      </div>
      <div class="start-balloon">
        <h1>网宿科技股份有限公司2017年年会盛典</h1>
      </div>
      <div class="btn-bottom-start">开始抽奖</div>
    </div>
  </div>
  <script src="<%= __public_path__ %>app.js"></script>
</body>
</html>