html,
body {
  margin: 0;
  padding: 0;
  /*overflow: hidden;*/
}

body {
  background: url(../img/bg.png) no-repeat fixed top;
  background-size: 100% 100%;
  -moz-background-size: 100% 100%;
}

.logo {
  background: url(../img/logo.png) no-repeat top;
  width: 320px;
  height: 80px;
  position: absolute;
  left: 20px;
  top: 20px;
  z-index: 1000;
  display: block;
}

.btn {
  background:url(../img/title.png) center no-repeat;
  background-size: 500px;
  z-index: 1000;
  width: 500px;
  height: 80px;
  display: block;
  margin: 70px auto 36px;
  cursor: pointer;
  text-align: center;
  font-size: 50px;
  color: #e00d1e;
  padding-top: 10px;
  border: 0
}

input[type="button"] {
  outline: none;
}

.main_bg {
  background:url(../img/list_bg.png) center 40px no-repeat;
  background-size: 1130px 400px;
  height: 560px;
  width: 1130px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -250px;
  margin-left: -565px;
}

.btns {
  width: 100%;
  margin-top: 50px;
}
.btns .btn-children{
  float: right;
  width: 125px;
  margin-left: 5px;
  height: 60px;
  background-color: #fff;
}
.btns .btn-children{
  float: right;
  width: 125px;
  margin-left: 5px;
  height: 60px;
}
.btns .btn-children-2{
  width: 125px;
  margin-left: 5px;
  height: 60px;
}
