html,
body {
  margin: 0;
  padding: 0;
  /*overflow: hidden;*/
}

body {
  background: url(../img/bg.png) no-repeat fixed top;
  background-size: 100% 100%;
  -moz-background-size: 100% 100%;
}

.logo {
  background: url(../img/logo.png) no-repeat top;
  width: 237px;
  height: 58px;
  position: absolute;
  left: 54px;
  top: 44px;
  display: block;
}

.title-top {
  background:url(../img/title.png) center no-repeat;
  background-size: 663px;
  width: 663px;
  height: 104px;
  line-height: 104px;
  display: block;
  margin: 70px auto 0;
  text-align: center;
  font-size: 42px;
  color: #331f96;
  border: 0
}

.btn-bottom {
  background:url(../img/button_bg.png) center no-repeat;
  background-size: 550px;
  width: 550px;
  height: 78px;
  line-height: 78px;
  display: block;
  cursor: pointer;
  text-align: center;
  font-size: 52px;
  border: 0;
  color: #fff;
  letter-spacing: 5px;
  position: absolute;
  bottom: 0; 
  left: 50%;
  margin-bottom: 70px;
  margin-left: -275px;
}

input[type="button"] {
  outline: none;
}

.main-bg {
  background-size: 1130px 400px;
  height: 560px;
  width: 1130px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -250px;
  margin-left: -565px;
  display: block;
}

.home-result {
  width: 930px;
  height: 360px;
  margin: 70px auto;
  margin-bottom: 30px;
  text-align: center;
  font-size: 65px;
  color: #000;
  font-weight: bold;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.btns {
  width: 100%;
  margin-top: 50px;
}
.btns .btn-children{
  float: right;
  width: 125px;
  margin-left: 5px;
  height: 60px;
  background-color: #fff;
}
.btns .btn-children{
  float: right;
  width: 125px;
  margin-left: 5px;
  height: 60px;
}
.btns .btn-children-2{
  width: 125px;
  margin-left: 5px;
  height: 60px;
}
