.num_bg_box,
.num_box {
  position: absolute;
  left: 115px;
  width: 900px;
  height: 160px;
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-items: center;
  text-align: center;
}

.num_bg,
.num {
  width: 112px;
  height: 130px;
  margin-top: 15px;
  flex: 1;
}

.num_bg {
  background: url(../img/num_bg1.png) no-repeat center;
}

.num {
  background: url(../img/num.png) top  repeat-y;
  background-size: 90px 1200px;
  line-height: 130px;
}

.num_header {
  /* background:url(images/header.png) top  repeat-y; */
  background-size: 90px 720px;
  width: 102px;
  height: 120px;
  float: left;
  margin-right: 9px;
  margin-top: 10px;
}