.lottery-bg {
  width: 95%;
  height: 50%;
  border: 3px solid;
  margin: 36px auto;
  position: relative;
  display: block;
  overflow: hidden;
  border-image: -webkit-linear-gradient(red, blue) 30 30;
  border-image: -moz-linear-gradient(red, blue) 30 30;
  border-image: linear-gradient(red, blue) 30 30;
}

.result {
  width: 95%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.result-parent {
  flex: 1;
  color: red;
}

.result-children {
  width: 20%;
  padding: 8px 0px;
  overflow: hidden;
  font-size: 40px;
  float: left;
  margin-bottom: 2px;
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-items: center;
  color: #fff;
}

.result-children span,
.result-children a {
  flex: 1;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  -webkit-flex: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  color: #331f96;
}

.num_bg_box,
.num_box {
  position: absolute;
  width: 900px;
  height: 160px;
  left: 50%;
  height: 50%;
  margin-left: -450px;
  margin-top: -80px;
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-items: center;
  text-align: center;
}

.num_bg,
.num {
  width: 112px;
  height: 130px;
  margin-top: 15px;
  flex: 1;
}

.num_bg {
  border: 5px solid #331f96;
  border-radius: 10px;
  margin-right: 8px;
}

.num {
  background: url(../img/num.png) top  repeat-y;
  background-size: 90px 1200px;
  line-height: 130px;
}

.num_header {
  background-size: 90px 720px;
  width: 102px;
  height: 120px;
  float: left;
  margin-right: 9px;
  margin-top: 10px;
}

.bottom-lottery {
  width: 2180px;
  position: absolute;
  bottom: 50px;
  left: 50%;
  margin-left: -1090px;
}
.dis-block {
  display: flex;
}
.dis-none {
  display: none;
}